@import url("https://fonts.googleapis.com/css?family=Sofia");


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 250px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #1c1e21;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

body {
  height: 1600px; /* Used to enable scrolling */
  background: linear-gradient(55deg, #9b70ff 0%, #ffc1fb 51%, #fc79c1 85%);
  font-family: "Times New Roman", serif;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  display: flex;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}